@media screen and (max-width: 320px) {
  body{
    font-family:"Lato";
    font-size: 14px;
    display:flex;
    justify-content: center;
    background-color: azure;
    padding: 10% 20% 0% 80%; 
  }
  
  .navbar {
    display:flex;
    position: fixed;
    background-color:red;
    flex-direction:column;
    justify-content: space-evenly;
    overflow-x: hidden;
    z-index: 1;
    top: 0; 
    left: 0;
    height:100%;
    width:50px;
  }
  
  
  .navbar > div > a{
    display: block;
    padding: 5px 5px 5px 5px;
    text-decoration:none;
  }
  
  nav > div > a:hover { 
    background-color: yellow;
  }
  
  .home{
    margin:0em;
    font-size: 1em;
  }
  
  .home > p {
    font-size: 1em;
    text-align:center;
  }
  
  .portfolio-content{
    display:flex;
    flex-wrap: wrap;
  }
  
  .portfolio-content-image{
    max-width:100%;
    height:auto;
  }
  .portfolio-content{
    max-width: 900px;
    height:auto;
  }
  
  .portfolio{
    margin:10em;
    font-size:5 em;
  }
  
  .projects{
    margin:10em;
    font-size:5 em;
  }
  
  .about{
    margin:10em;
    font-size:5 em;
  }
  
  .contact{
    margin:10em;
    font-size:5 em;
  }
  
}

@media screen and (max-width: 375px) {
  
}

@media screen and (max-width: 425px) {
  
}

@media screen and (max-width: 600px) {
  
}

@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 1024px) {
  
}

@media screen and (max-width: 1440px) {
  
}

@media screen and (max-width: 2580px) {
  
}

/*  FONT SIZES // GOLDEN RATIO 
h1 { font-family: Lato; font-size: 23px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; } 
h3 { font-family: Lato; font-size: 17px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 23px; } 
p { font-family: Lato; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; } 
blockquote { font-family: Lato; font-size: 17px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; } 
pre { font-family: Lato; font-size: 11px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; }
*/