@media screen and (max-width: 320px) {
  body{
    font-family:"Lato";
    font-size: 1rem;
    display:flex;
    flex-direction:column;
    justify-content: justify;
    background-color: azure;
    max-width:100%;
  }
  
  .navbar {
    display:flex;
    position: fixed;
    background-color:red;
    flex-direction:row;
    justify-content: space-evenly;
    overflow-x: hidden;
    z-index: 1;
    top: 0; 
    left: 0;
    width:100%;
  }
  
  
  .navbar > div > a{
    display: block;
    padding: 5% 5% 5% 5%;
    text-decoration:none;
    font-family:"Lato";
    font-size: 2em;
    text-align:center;
  }
  
  nav > div > a:hover { 
    background-color: yellow;
  }
  .home > p {
    font-size: 4em;
    text-align:center;
    padding: 2em 7em 5em 5em;
  }

  h2{
  }
  
  .portfolio-content-image{
    display:flex;
    max-width:100%;
  }

}


@media screen and (max-width: 375px) {
  
}

@media screen and (max-width: 425px) {
  
}

@media screen and (max-width: 600px) {
  
}

@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 1024px) {
  
}

@media screen and (max-width: 1440px) {
  
}

@media screen and (max-width: 2580px) {
  
}

/*  FONT SIZES // GOLDEN RATIO 
h1 { font-family: Lato; font-size: 23px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; } 
h3 { font-family: Lato; font-size: 17px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 23px; } 
p { font-family: Lato; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; } 
blockquote { font-family: Lato; font-size: 17px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; } 
pre { font-family: Lato; font-size: 11px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; }
*/